<h1 style="text-align:center">Clubs</h1>



 <div class="container">
    <% @clubs.each do |club| %>
    <div class="tile">
        <p class="profile-pic" style="text-align: center"> <%= link_to(image_tag(club.pic), club_path(club)) %></p>
        <p style="text-align: center"><%= link_to club.name, club_path(club) %>
        <h3 style="text-align: center">. . .</h3>
        </div>
    <% end %>
 </div>