<h1>Clubs</h1>



 <div>
    <% @clubs.each do |club| %>

        <p style="text-align: center"><%= link_to club.name, club_path(club) %>
        <p style="text-align: center"><%= image_tag club.pic %>
    <% end %>
 </div>