<h1 style="text-align:center"><%= @club.name %></h1>


    <p style="text-align:center">Address: <%= @club.address %></p>
    <p style="text-align:center">Description: <%= @club.description %></p>
    


    <p  style="text-align:center"> <img  src=<%= @club.pic%> height="500"></p>



