<h1 style="text-align: center">Users</h1>



<div>
    <% @users.each do |user| %>
        <p class="profile-pic" style="text-align: center"> <%= link_to(image_tag(user.pic), user_path(user)) %></p>
        <p style="text-align: center"><%= link_to user.name, user_path(user) %></p>
        <h3 style="text-align: center">. . .</h3>
    <% end %>
 </div>

 