<h1 style="text-align: center">Users</h1>



<div>
    <% @users.each do |user| %>

        <p style="text-align: center"><%= link_to user.name, user_path(user) %>
        <p style="text-align: center"><%= image_tag user.pic %>
    <% end %>
 </div>