// Place all the styles related to the Clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


    .club_show {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1_club { grid-area: 2 / 4 / 8 / 7; }
        .div2_club { grid-area: 2 / 7 / 8 / 9; }
        .div3_club { grid-area: 2 / 2 / 5 / 4; }
        .div4_club { grid-area: 5 / 2 / 8 / 4; }

        