<h1 style="text-align: center">jokes</h1>

<div>
    <% @jokes.each do |joke| %>
      
        <p style="text-align: center"> <%= joke.content%>  - <%= link_to joke.user.name, user_path(joke.user) %></b>  <b>Likes: </b><%= joke.like %> <b>Dislikes: </b><%= joke.dislike %></p>
        
      
    <% end %>
 </div>