<h1 style="text-align: center">jokes</h1>

<div>
    <% @jokes.each do |joke| %>
      
        <p style="text-align: center"> <%= joke.content%><br>Likes: <%= joke.like %> <br>-<%= link_to joke.user.name, user_path(joke.user) %> </p>
        
      
    <% end %>
 </div>