<body>
<h1 style="text-align: center"> <%= @gig.user.name %>'s Upcoming Gigs : </h1>

<br>

<h2 style="text-align: center"> <%= @gig.club.name %> </h2>

<h3 style="text-align: center">Price : $ <%= @gig.price %> </h3>

</body>