<h1>Reviews</h1>

<ul>
    <% @reviews.each do |review| %>
      
        <li><%= review.club.name %>,  Rating: <%= review.rating %>, Content: <%= review.content%>, Date: <%= review.date %></li>
        
    <% end %>
 </ul>